/* .comment-container {
display: flex;
flex-direction: row;
justify-content: flex-start;
} */
/* 
.user-comment {
  font-size: 15px;
}

.username {
  font-weight: bold;
  font-size: 15px;
  margin: 0px 5px 5px 0px;
} */

/* .time-stamp{
  text-transform: uppercase;
  color: gray;
  font-size: 13px;
} */

/* .form-section form {
  border: none;
  margin-top: 10px;
  border-top: 1px solid lightgray;
  padding: 5px;
}

.form-section input {
  margin-top: 10px;
  border: none;
}

.form-section input::placeholder {
  font-size: 15px
} */